body {
      background-image: url(circle.png);
background-repeat:repeat;
}
a{
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  background-color: white;
  padding: 15px 10px;
  color: rgb(194, 55, 97);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mg{ 
      text-decoration: none;
      padding: 08px;
      font-weight: 100px;
      font-size: 15px;
      color: #ffffff;
      background-color: #1cc475;
      border-radius: 6px;
      border: 2px solid #50f072;
      position: relative;
      top: 580px;
      text-align: center;
      display: inline-block;
      bottom: 100px;
      right: 15px;
      left: 500px;
      

}
 .eb{
      text-decoration: none;
      padding: 08px;
      font-weight: 100px;
      font-size: 15px;
      color: #da8a3f;
      background-color: white;
      border-radius: 6px;
      border: 2px solid #f1a55d;
      position: relative;
      top: 580px;
      text-align: center;
      right: 100px;
      left: 510px;
      cursor: pointer;
}
.eb:hover{
      background-color:#da8a3f;
      color: white;
}      
}