body {
      background-image: url(circle.png);
background-repeat:repeat;
}
.re{
width: 30px;
height:30px ;
background:transparent;
 
}
a{
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  background-color:rgba(253, 251, 251, 0.897);
  padding: 10px 10px;
  color: rgb(194, 55, 97);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
   position: relative;
 

}

.mg{ 
      text-decoration: none;
      padding: 05px;
      font-size: 14px;
      font-weight: bold;
      color: #ffffff;
      background-color: #1cc475;
      border-radius: 4px;
      border: 2px solid #50f072;
      position: relative;
      top: 570px;
      text-align: center;
      display: inline-block;
      bottom: 50px;
      right: 100px;
      left: 550px;
      

}
 .eb{
      text-decoration: none;
      padding: 05px;
      font-size: 14px;
      color: #da8a3f;
      background-color: white;
      border-radius: 6px;
      border: 2px solid #f1a55d;
      position: relative;
      top: 570px;
      text-align: center;
      right: 100px;
      left: 560px;
      cursor: pointer;
}
.eb:hover{
      background-color:#da8a3f;
      color: white;
}      
